#define ZMK_POINTING_DEFAULT_SCRL_VAL 60

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define MOUSE 3
#define SCROLL 4
#define NUM 6

&mt {
    flavor = "balanced";
    quick-tap-ms = <250>;
    tapping-term-ms = <400>;
};

/ {
    combos {
        compatible = "zmk,combos";

        delete {
            bindings = <&ht_sheet_delete_kp 0 DELETE>;
            key-positions = <8 9>;
            layers = <0 2 1>;
        };

        caps {
            bindings = <&mt CAPSLOCK TAB>;
            key-positions = <0 1>;
            layers = <0 2>;
        };

        f7 {
            bindings = <&kp F7>;
            key-positions = <6 5>;
            layers = <0>;
        };

        num_remove {
            bindings = <&remove_duplicates>;
            key-positions = <2 3>;
            layers = <1>;
        };

        num_numlock {
            bindings = <&mt KP_NUMLOCK TAB>;
            key-positions = <1 0>;
            layers = <1>;
        };

        up {
            bindings = <&mt HOME UP_ARROW>;
            key-positions = <7 8>;
            layers = <0 1 2 4>;
        };

        down {
            bindings = <&mt END DOWN_ARROW>;
            key-positions = <19 20>;
            layers = <0 1 2 4>;
        };

        merging {
            bindings = <&merging_cells>;
            key-positions = <40 41>;
            layers = <0 1>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };

        exit_AML: exit_AML {
            compatible = "zmk,behavior-macro";
            wait-ms = <0>;
            tap-ms = <0>;
            #binding-cells = <0>;
            bindings = <&toggle_layer_off MOUSE>;
            label = "exit_AML";
        };

        kp_exit_AML: kp_exit_AML {
            compatible = "zmk,behavior-macro-one-param";
            wait-ms = <0>;
            tap-ms = <0>;
            #binding-cells = <1>;
            bindings = <&macro_param_1to1 &kp MACRO_PLACEHOLDER &exit_AML>;
            label = "KP_exit_AML";
        };

        mod_exit_AML: mod_exit_AML {
            compatible = "zmk,behavior-macro-one-param";
            wait-ms = <0>;
            tap-ms = <0>;
            #binding-cells = <1>;
            bindings =
                <&macro_press>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>,
                <&macro_tap>,
                <&exit_AML>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>;

            label = "MOD_exit_AML";
        };

        mo_exit_AML: mo_exit_AML {
            compatible = "zmk,behavior-macro-one-param";
            wait-ms = <0>;
            tap-ms = <0>;
            #binding-cells = <1>;
            bindings =
                <&macro_press>,
                <&macro_param_1to1 &mo MACRO_PLACEHOLDER>,
                <&macro_tap>,
                <&exit_AML>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&macro_param_1to1 &mo MACRO_PLACEHOLDER>,
                <&macro_tap>;

            label = "MO_exit_AML";
        };

        shift_click: shift_crick {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_SHIFT>,
                <&macro_tap>,
                <&mkp LCLK>,
                <&macro_release>,
                <&kp LEFT_SHIFT>;

            label = "SHIFT_CRICK";
        };

        control_click: contolor_click {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_CONTROL &mkp LCLK>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&kp LEFT_CONTROL &mkp LCLK>;

            label = "CONTOLOR_CLICK";
        };

        alt_tab_swapper: alt_tab_swapper {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp TAB>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "ALT_TAB_SWAPPER";
        };

        sort: transe_row_colum {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(D) &kp S>;
            label = "TRANSE_ROW_COLUM";
        };

        remove_duplicates: choufuku {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_ALT &kp A &kp M>;
            label = "CHOUFUKU";
        };

        window_hold: window_hold {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_ALT &kp W &kp F &kp F>;
            label = "WINDOW_HOLD";
        };

        merging_cells: merging_cells {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_ALT &kp H &kp M &kp C>;
            label = "MERGING_CELLS";
        };

        paste_formulas_only: paste_formulas_only {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(E) &kp S &kp F &kp ENTER>;
            label = "PASTE_FORMULAS_ONLY";
        };

        transpose_and_paste: transpose_and_paste {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(E) &kp S &kp E &kp V &kp ENTER>;
            label = "TRANSPOSE_AND_PASTE";
        };

        paste_memo_only: paste_memo_only {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(E) &kp S &kp C &kp ENTER>;
            label = "PASTE_MEMO_ONLY";
        };

        auto_calculation: auto_calculation {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_ALT &kp M &kp X &kp A>;
            label = "AUTO_CALCULATION";
        };

        auto_calculation_off: auto_calculation_off {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_ALT &kp M &kp X &kp M>;
            label = "AUTO_CALCULATION_OFF";
        };

        double_zero: double_zero {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp KP_NUMBER_0 &kp KP_NUMBER_0>;
            label = "DOUBLE_ZERO";
        };

        row_plus: row_plus {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(SPACE) &kp LC(KP_PLUS)>;
            label = "ROW_PLUS";
        };

        row_minus: row_minus {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(SPACE) &kp LC(KP_MINUS)>;
            label = "ROW_MINUS";
        };

        colum_plus: colum_plus {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(SPACE) &kp LC(KP_PLUS)>;
            label = "COLUM_PLUS";
        };

        colum_minus: colum_minus {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(SPACE) &kp LC(KP_MINUS)>;
            label = "COLUM_MINUS";
        };

        row_copy: row_copy {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(SPACE) &kp LC(C)>;
            label = "ROW_COPY";
        };

        row_cut: row_cut {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(SPACE) &kp LC(X)>;
            label = "ROW_CUT";
        };

        colum_copy: colum_copy {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(SPACE) &kp LC(C)>;
            label = "COLUM_COPY";
        };

        colum_cut: colum_cut {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(SPACE) &kp LC(X)>;
            label = "COLUM_CUT";
        };

        name_change: name_change {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&mkp LCLK &kp F2>;
            label = "NAME_CHANGE";
        };

        sheet_delete: seet_delete {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(E) &kp L &kp ENTER>;
            label = "SEET_DELETE";
        };

        vlookup: vlookup {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp EQUAL &kp I &kp F &kp N &kp A &kp LEFT_PARENTHESIS &kp V &kp L &kp O &kp O &kp K &kp U &kp P &kp LEFT_PARENTHESIS>;
            label = "VLOOKUP";
        };

        sumif: sumif {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp EQUAL &kp S &kp U &kp M &kp I &kp F &kp LPAR>;
            label = "SUMIF";
        };

        sumifs: sumifs {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp EQUAL &kp S &kp U &kp M &kp I &kp F &kp S &kp LPAR>;
            label = "SUMIFS";
        };

        round: round {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp EQUAL &kp R &kp O &kp U &kp N &kp D &kp LPAR &kp LPAR>;
            label = "ROUND";
        };

        roundup: roundup {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp EQUAL &kp R &kp O &kp U &kp N &kp D &kp U &kp P &kp LPAR &kp LPAR>;
            label = "ROUNDUP";
        };

        rounddown: rounddown {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp EQUAL &kp R &kp O &kp U &kp N &kp D &kp D &kp O &kp W &kp N &kp LPAR &kp LPAR>;
            label = "ROUNDDOWN";
        };

        sum: sum {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp EQUAL &kp S &kp U &kp M &kp LPAR>;
            label = "SUM";
        };

        sumproduct: sumproduct {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp EQUAL &kp S &kp U &kp M &kp P &kp R &kp O &kp D &kp U &kp C &kp T &kp LPAR>;
            label = "SUMPRODUCT";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&mo>, <&to_layer_0>;

            tapping-term-ms = <200>;
            label = "LT_TO_LAYER_0";
        };

        ROTATE: ROTATE {
            compatible = "zmk,behavior-sensor-rotate-var";
            label = "ROTATE";
            #sensor-binding-cells = <2>;
            bindings = <&msc>, <&msc>;

            tap-ms = <20>;
        };

        sl_250: sl_250 {
            compatible = "zmk,behavior-sticky-key";
            bindings = <&mo>;
            #binding-cells = <1>;
            release-after-ms = <250>;
            label = "SL_250";
        };

        toggle_layer_off: toggle_layer_off {
            compatible = "zmk,behavior-toggle-layer";
            #binding-cells = <1>;
            toggle-mode = "off";
            label = "TOGGLE_LAYER_OFF";
        };

        lt_exit_AML_on_hold: lt_exit_AML_on_hold {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&mo_exit_AML>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            flavor = "balanced";
            label = "LT_EXIT_AML_ON_HOLD";
        };

        mt_exit_AML_on_hold: mt_exit_AML_on_hold {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&mod_exit_AML>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
            quick-tap-ms = <200>;
            label = "MT_EXIT_AML_ON_HOLD";
        };

        ht_ctrlclick_shiftclick: ht_ctrlclick_shiftclick {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&control_click>, <&shift_click>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            flavor = "balanced";
            label = "HT_CTRLCLICK_SHIFTCLICK";
        };

        ht_kp_vlookup: ht_kp_vlookup {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&kp>, <&vlookup>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            flavor = "balanced";
            label = "HT_KP_VLOOKUP";
        };

        ht_sheet_delete_kp: ht_sheet_delete_kp {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&sheet_delete>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <400>;
            quick-tap-ms = <250>;
            flavor = "balanced";
            label = "HT_SHEET_DELETE_KP";
        };

        ht_doublezero_kp: ht_doublezero_kp {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&double_zero>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            flavor = "balanced";
            label = "HT_DOUBLEZERO_KP";
        };

        q_tab_morph: q_tab_morph {
            compatible = "zmk,behavior-mod-morph";
            label = "Q_TAB_MORPH";
            bindings = <&kp Q>, <&alt_tab_swapper>;

            #binding-cells = <0>;
            mods = <(MOD_LALT|MOD_RALT)>;
            keep-mods = <(MOD_LALT|MOD_RALT)>;
        };

        tap_rclk: tap_rclk {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings =
                <&mkp RCLK>,
                <&auto_calculation_off>,
                <&auto_calculation>;

            tapping-term-ms = <250>;
            label = "TAP_RCLK";
        };

        tap_equal: tap_equal {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&lt 6 EQUAL>, <&sum>, <&sumproduct>;

            tapping-term-ms = <250>;
            label = "TAP_EQUAL";
        };

        tap_paste1: tap_paste1 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings =
                <&mt_exit_AML_on_hold LC(Z) LC(LS(V))>,
                <&paste_formulas_only>;

            tapping-term-ms = <250>;
            label = "TAP_PASTE1";
        };

        tap_paste2: tap_paste2 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings =
                <&mt_exit_AML_on_hold LC(X) LC(V)>,
                <&transpose_and_paste>,
                <&paste_memo_only>;

            tapping-term-ms = <250>;
            label = "TAP_PASTE2";
        };

        tap_look: tap_look {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings =
                <&ht_kp_vlookup LC(LS(RIGHT_ARROW)) 0>,
                <&sumif>,
                <&sumifs>;

            tapping-term-ms = <250>;
            label = "TAP_LOOK";
        };

        tap_round: tap_round {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&round>, <&roundup>, <&rounddown>;

            tapping-term-ms = <250>;
            label = "TAP_ROUND";
        };

        tap_row_copy_plus: tap_row_copy_plus {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings =
                <&mt_exit_AML_on_hold LS(SPACE) LA(TAB)>,
                <&row_copy>,
                <&row_plus>,
                <&kp LA(LS(RIGHT_ARROW))>;

            tapping-term-ms = <250>;
            label = "TAP_ROW_COPY_PLUS";
        };

        tap_row_cut_minus: tap_row_cut_minus {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings =
                <&kp LS(LEFT_ARROW)>,
                <&row_cut>,
                <&row_minus>,
                <&kp LA(LS(LEFT_ARROW))>;

            tapping-term-ms = <200>;
            label = "TAP_ROW_CUT_MINUS";
        };

        tap_colum_copy_plus: tap_colum_copy_plus {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings =
                <&mt_exit_AML_on_hold LC(SPACE) LC(A)>,
                <&colum_copy>,
                <&colum_plus>,
                <&kp LA(LS(RIGHT_ARROW))>;

            tapping-term-ms = <250>;
            label = "TAP_COLUM_COPY_PLUS";
        };

        tap_colum_cut_minus: tap_colum_cut_minus {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings =
                <&mt LS(BACKSLASH) BACKSLASH>,
                <&colum_cut>,
                <&colum_minus>,
                <&kp LA(LS(LEFT_ARROW))>;

            tapping-term-ms = <250>;
            label = "TAP_COLUM_CUT_MINUS";
        };

        tap_enter: tap_enter {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&lt_exit_AML_on_hold 4 LS(ENTER)>, <&mt F12 LA(ENTER)>;

            tapping-term-ms = <250>;
            label = "TAP_ENTER";
        };

        tap_right_thumb: tap_right_thumb {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings =
                <&lt_exit_AML_on_hold 1 LS(TAB)>,
                <&mt_exit_AML_on_hold LEFT_SHIFT F2>;

            tapping-term-ms = <250>;
            label = "TAP_RIGHT_THUMB";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&q_tab_morph                             &kp W                                &kp E                                  &kp R                                      &kp T                                                                                                                                       &kp Y             &kp U  &kp I                &kp O             &kp P
&kp A                                    &kp S                                &kp D                                  &kp F                                      &kp G                         &mt LG(LS(S)) ESCAPE                                    &mt_exit_AML_on_hold TILDE AT_SIGN                    &kp H             &kp J  &kp K                &kp L             &mt LS(MINUS) MINUS
&kp Z                                    &kp X                                &kp C                                  &kp V                                      &kp B                         &mt_exit_AML_on_hold LEFT_BRACKET LEFT_PARENTHESIS      &mt_exit_AML_on_hold RIGHT_BRACKET RIGHT_PARENTHESIS  &kp N             &kp M  &mt SEMICOLON COMMA  &mt COLON PERIOD  &mt_exit_AML_on_hold LS(SLASH) SLASH
&mt_exit_AML_on_hold LEFT_CONTROL LC(C)  &mt_exit_AML_on_hold LEFT_WIN LG(E)  &mt_exit_AML_on_hold LEFT_ALT LA(TAB)  &mt_exit_AML_on_hold LEFT_SHIFT BACKSPACE  &lt_exit_AML_on_hold 1 SPACE  &mt_exit_AML_on_hold LS(END) RIGHT_ARROW                &mt_exit_AML_on_hold LS(HOME) LEFT_ARROW              &tap_right_thumb                                                &mt_exit_AML_on_hold DELETE ENTER
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_DOWN C_VOLUME_UP>;
        };

        MOUSE_NUM {
            bindings = <
&mt LC(NUMBER_1) KP_DIVIDE    &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9                                   &mt ASTERISK KP_MULTIPLY                                                         &ht_ctrlclick_shiftclick 0 0  &mkp LCLK                                           &tap_paste1  &tap_paste2  &tap_rclk
&mt LC(KP_MINUS) KP_MINUS     &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6                                   &mt LC(KP_PLUS) KP_PLUS           &trans                   &tap_colum_cut_minus  &window_hold                  &mt_exit_AML_on_hold LA(RIGHT_ARROW) LC(PAGE_DOWN)  &sort        &tap_look    &mt_exit_AML_on_hold LC(S) F9
&ht_doublezero_kp 0 NUMBER_0  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3                                   &mt_exit_AML_on_hold LC(B) DOT    &tap_equal               &tap_colum_copy_plus  &name_change                  &mt_exit_AML_on_hold LA(LEFT_ARROW) LC(PAGE_UP)     &trans       &tap_round   &mt LA(F4) F4
&lt_exit_AML_on_hold 4 LC(C)  &trans        &trans        &mt_exit_AML_on_hold LC(LEFT_SHIFT) BACKSPACE  &mt_exit_AML_on_hold LC(W) LG(D)  &kp LS(RIGHT_ARROW)      &tap_row_cut_minus    &tap_row_copy_plus                                                                                          &tap_enter
            >;
        };

        SYMBOL {
            bindings = <
&trans  &mt LG(NUMBER_7) APOSTROPHE   &mt LG(NUMBER_8) LEFT_PARENTHESIS  &mt LG(NUMBER_9) RIGHT_PARENTHESIS  &kp LS(COMMA)                       &trans  &trans  &trans  &trans  &trans
&trans  &mt LG(NUMBER_4) DOLLAR       &mt LG(NUMBER_5) PERCENT           &mt LG(NUMBER_6) AMPERSAND          &kp LS(PERIOD)  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &mt LG(NUMBER_1) EXCLAMATION  &mt LG(NUMBER_2) DOUBLE_QUOTES     &mt LG(NUMBER_3) POUND              &kp COMMA       &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans                        &trans                             &trans                              &trans          &trans      &trans  &trans                          &trans
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &msc SCRL_UP    &msc SCRL_LEFT  &msc SCRL_RIGHT  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &msc SCRL_DOWN  &trans          &trans           &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans          &trans          &trans           &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                                                   &trans
            >;
        };

        layer_5 {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };

        layer_6 {
            bindings = <
&trans  &trans           &trans           &trans           &trans                              &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans  &trans           &trans           &trans           &trans  &trans      &studio_unlock  &trans        &trans        &trans        &trans        &bt BT_CLR
&trans  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &trans  &trans      &bootloader     &trans        &trans        &trans        &trans        &bt BT_CLR_ALL
&trans  &trans           &trans           &trans           &trans  &trans      &trans          &trans                                                  &trans
            >;
        };
    };
};
